.closed_question {
  width: 450px;
  margin: 0 auto;
  height: 65px;
  margin-bottom: 25px;
  padding: 0 10px 0 15px;
  background-color: #ffffff;
  color: #333333;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

ion-icon {
  font-size: 23px;
}

.opened_question {
  width: 450px;
  height: 131px;
  margin-bottom: 25px;
  padding: 15px 15px 6px 15px;

  background-color: #ffffd4;
  color: #333333;

  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opened_question img {
  width: 30px;
  height: 20px;
  align-self: flex-end;
  cursor: pointer;
}

.answer_box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.answer_box div {
  color: #ffffff;
  width: 125px;
  height: 37.17px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.answer_box div > p {
  width: 80%;
}

.forgot {
  background-color: #ff3030;
}

.almost {
  background-color: #ff922e;
}

.zap {
  background-color: #2fbe34;
}

.close-circle {
  color: #ff3030;
  text-decoration: line-through;
  cursor: inherit;
}

.help-circle {
  color: #ff922e;
  text-decoration: line-through;
  cursor: inherit;
}

.checkmark-circle {
  color: #2fbe34;
  text-decoration: line-through;
  cursor: inherit;
}

ion-icon[name="close-circle"] {
  color: #ff3030;
}

ion-icon[name="help-circle"] {
  color: #ff922e;
}
ion-icon[name="checkmark-circle"] {
  color: #2fbe34;
}
