body {
  font-family: "Recursive", sans-serif;
  background-color: black;
}

.root {
  max-width: 614px;
  margin: 0 auto;
  height: 100vh;
  background-color: #fb6b6b;
  overflow-y: scroll;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .logo img {
  width: 136px;
  margin-top: 146px;
  margin-bottom: 30px;
}

.home .logo p {
  font-family: Righteous;
  font-weight: 400;
  font-size: 36px;
  line-height: 44.7px;
  color: #ffffff;
}

button {
  margin: 0 auto;
  margin-top: 30px;
  width: 246px;
  height: 54px;

  background-color: #ffffff;
  color: #d70900;

  font-family: Recursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;

  border: 1px solid #d70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
