* {
  box-sizing: border-box;
}

footer {
  background-color: #ffffff;
  color: #333333;
  width: 100%;
  max-width: 614px;
  height: 70px;
  margin: 0 auto;
  font-family: Recursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;

  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.final_result {
  width: 100%;
  max-width: 614px;
  height: 171px;
  position: fixed;
  bottom: 0;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}

button {
  background-color: red;
  height: 24px;
}
