footer,
.final_result {
  background-color: #ffffff;
  color: #333333;
  width: 100%;
  max-width: 614px;
  margin: 0 auto;
  font-family: "Recursive", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: 70px;
  justify-content: center;
}

.final_result {
  height: 171px;
  justify-content: space-between;
  padding-bottom: 25px;
}
