.message_title {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Recursive", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  margin-top: 16px;
}

.message_title img {
  margin-right: 10px;
}

.message_body {
  margin-bottom: 14px;
  text-align: center;
}
